{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center first-sec-inicial-index">
    <div class="row">
      <div class="col">
        <h1 class="h1-home">Future Teachers</h1>
        <p class="p-first additional-padding-bottom">Oasis provides training and resources to current and future teachers in underserved regions for quality education.</p>
        <a href="{% url 'login' %}"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-mortarboard"></i> Test our MVP</button></a>
      </div>
      <div class="col">
        <img class="image-header" src="{% static 'images/cover.png' %}">
      </div>
    </div>
</div>

{% endblock %}