{% extends "base.html" %}
{% load static %}

{% block title %}Oasis AI{% endblock %}

{% block content %}

<div class="container-mobile text-center">
    <h1 class="h1-home">Chat with Ollama</h1><br>
    <p class="p-first additional-padding-bottom">Your student have a question? Add it here!</p>
    <div class="div-ai">
        <input type="text" id="prompt" placeholder="">
        <button class="btn-main-ai" onclick="sendMessage()">Send</button>
    </div>
    <div id="response"></div>    
</div>

<div class="container-mobile text-center">
    <h2 class="h1-home">Translate</h2><br>
    <p class="p-first additional-padding-bottom">Your student have a question? Add it here!</p>
    <div>
        <input type="text" id="translate" placeholder="Text to translate">
        <select id="language">
            <option value="English">
                English
            </option>
            <option value="Spanish">
                Spanish
            </option>
            <option value="French">
                French
            </option>
            <option value="German">
                German
            </option>
            <option value="Italian">
                Italian
            </option>
            <option value="Portuguese">
                Portuguese
            </option>
            <option value="Arabic">
                Arabic
            </option>
        </select>
        <button class="btn-main-ai" onclick="translateText()">Translate</button>
    </div>
    <p id="translation"></p>  
</div> 
<script>
    function sendMessage() {
        const prompt = document.getElementById("prompt").value;
        const responseDiv = document.getElementById("response");
        responseDiv.innerHTML = "";

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/oasis-ai/chat/", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onprogress = function() {
            responseDiv.innerHTML = xhr.responseText;
        };

        xhr.send("prompt=" + encodeURIComponent(prompt));
    }
    
    function translateText() {
        const text = document.getElementById("translate").value;
        const language = document.getElementById("language").value;
        const translationDiv = document.getElementById("translation");
        translationDiv.innerHTML = "";

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/oasis-ai/translate/", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onprogress = function() {
            translationDiv.innerHTML = xhr.responseText;
        };

        xhr.send("text=" + encodeURIComponent(text) + "&language=" + encodeURIComponent(language));
    }
</script>
{% endblock %}