{% extends "base.html" %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block content %}

<div class="container-mobile text-center">
    <p class="p-first additional-padding-bottom">What can I help you with? </p>
    <div class="div-ai">
        <textarea type="text" id="prompt" placeholder="Message OasisConnect"></textarea>
        <button class="btn-main-ai" onclick="sendMessage()">Send</button>
    </div>
    <div id="response"></div>    
</div>
<script>
    function sendMessage() {
        const prompt = document.getElementById("prompt").value;
        const responseDiv = document.getElementById("response");
        responseDiv.innerHTML = "";

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/oasis-ai/chat/", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onprogress = function() {
            responseDiv.innerHTML = xhr.responseText;
        };

        xhr.send("prompt=" + encodeURIComponent(prompt));
    }
</script>
{% endblock %}