{% extends "base.html" %}
{% load static %}

{% block title %}Translate{% endblock %}

{% block content %}

<div class="container-mobile text-center flex-direction">
    <p class="p-first additional-padding-bottom">Translate the lessons you generated</p>
    <div class="div-ai">
        <textarea type="text" id="translate" placeholder="Text to translate"></textarea>
        <div>
            <select id="language">
                <option value="English">
                    English
                </option>
                <option value="Spanish">
                    Spanish
                </option>
                <option value="French">
                    French
                </option>
                <option value="German">
                    German
                </option>
                <option value="Italian">
                    Italian
                </option>
                <option value="Portuguese">
                    Portuguese
                </option>
                <option value="Arabic">
                    Arabic
                </option>
            </select>
            <button class="btn-main-ai" onclick="translateText()">Translate</button>
        </div>
    </div>
    <div id="response"></div>  
</div>
<script>
    function translateText() {
        const text = document.getElementById("translate").value;
        const language = document.getElementById("language").value;
        const translationDiv = document.getElementById("translation");
        translationDiv.innerHTML = "";

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/oasis-ai/translate/", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onprogress = function() {
            translationDiv.innerHTML = xhr.responseText;
        };

        xhr.send("text=" + encodeURIComponent(text) + "&language=" + encodeURIComponent(language));
    }
</script>
{% endblock %}