{% extends "base.html" %}
{% load static %}

{% block title %}Donate{% endblock %}

{% block content %}
<div class="col text-align" style="max-width: 620px; padding: 40px 40px 0px 40px; margin: 0 auto;">
    <h1 class="h1-home">Support Teachers with Innovative Tools and Training</h1>
    <p class="additional-padding-bottom">Oasis provides training and resources to current and future teachers in underserved regions for quality education.</p>
    <a href="https://donate.stripe.com/eVag0JaIa4LFgr628j"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-stripe"></i>  Securely Donate Today</button></a>
    <img class="mobile-image" style="padding-top: 20px; margin: 0 auto; max-width: 350px;" src="{% static 'images/stripe.png' %}">
</div>

<div class="container text-center first-sec-inicial-index">
    <div class="row">
      <div>
        <img class="image-header" src="{% static 'images/oasisconnect.png' %}">
        <p class="donation-paragraph">Each 22.5 QAR donated, one more student impacted</p>
      </div>
      <div>
        <img class="image-header" src="{% static 'images/classroom.png' %}">
        <p class="donation-paragraph">1 OasisConnect©, dozens of possibilities</p>
      </div>
    </div>
  </div>

<div class="col text-align" style="max-width: 620px; padding: 0px 40px 15px 40px; margin: 0 auto;">
    <h1 class="h1-home" style="padding-bottom: 20px;">Supporting future and current teachers with the best educational tools.</h1>
    <video src="{% static 'videos/video.mp4' %}" poster="{% static 'images/video-cover.png' %}" controls></video>
    <p class="additional-padding-bottom">Every rial makes the difference.</p>
    <a href="https://donate.stripe.com/eVag0JaIa4LFgr628j"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-stripe"></i>  Securely Donate Today</button></a>
    <img class="mobile-image" style="padding-top: 20px; margin: 0 auto; max-width: 350px;" src="{% static 'images/stripe.png' %}">
</div>
{% endblock %}