{% extends "base.html" %}
{% load static %}

{% block title %}Linguistic Hybridity{% endblock %}

{% block content %}
<div class="container text-center first-sec-inicial-index">
    <div class="row">
      <div class="col">
        <h1 class="h1-home">Linguistic-hybridity 30-minute course for Qatari professors</h1>
        <p class="p-first additional-padding-bottom">Explore how linguistic hybridity is present in Qatar and how it affects students' lifes.</p>
        <a href="https://wa.me/5548998289645"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-book"></i>start learning</button></a>
      </div>
      <div class="col">
        <img class="image-header" src="{% static 'images/cover.png' %}">
      </div>
    </div>
</div>

<div class="container text-center gray">
    <div class="row">
      <div class="col">
        <img class="image-platform" src="{% static 'images/elearning.jpg' %}">
      </div>
      <div class="col height-index-inicial-sections">
        <ul class="list-group list-group-flush">
            <h3 class="h3-home">Ficou fácil aprender</h3>
            <li class="list-group-item"><i class="bi bi-camera-reels-fill"></i>Lorem</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-play-fill"></i> +1500 questões comentadas com vídeos</li>
            <li class="list-group-item"><i class="bi bi-car-front-fill"></i> Bônus sobre baliza e prática para você arrasar</li>
          </ul>
          <a href="#"><button type="button" class="btn btn-sm btn-whatsapp big"><i class="bi bi bi-book"></i>begin course</button></a>
      </div>
    </div>
</div>

<div class="container text-center first-sec-inicial-index">
  <div class="row">
    <div class="col">
      <h1 class="h1-home">Linguistic-hybridity 30-minute course for Qatari professors</h1>
      <p class="p-first additional-padding-bottom">Explore how linguistic hybridity is present in the Qatar and how it affects students' lifes.</p>
      <a href="#"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-book"></i>start learning</button></a>
    </div>
    <div class="col">
      <img class="image-header" src="{% static 'images/qatar3.jpg' %}">
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <img class="image-header" src="{% static 'images/qatar2.webp' %}">
    </div>
    <div class="col">
      <h1 class="h1-home">Prediçao de vacinas aplicadas em Forquilhinha</h1>
      <p class="p-first additional-padding-bottom">Use nosso modelo para prever quantos imunizantes serao aplicados futuramente em Forquilhinha.</p>
    </div>
  </div>

{% endblock %}