{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container text-center first-sec-inicial-index">
    <div class="row">
      <div class="col">
        <h1 class="h1-home">Bridging the Education Gap with AI and Offline Solutions</h1>
        <p class="p-first additional-padding-bottom">Oasis provides training and resources to current and future teachers in underserved regions for quality education.</p>
        <a href="{% url 'edu:index' %}"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-mortarboard"></i> Test our MVP</button></a>
      </div>
      <div class="col">
        <img class="image-header" src="{% static 'images/cover.png' %}">
      </div>
    </div>
</div>

<div class="container text-center gray">
    <div class="row">
      <div class="col">
        <img class="image-platform" src="{% static 'images/education.png' %}">
      </div>
      <div class="col height-index-inicial-sections">
        <ul class="list-group list-group-flush">
            <h3 class="h3-home">How Oasis Transforms Education</h3>
            <li class="list-group-item"><i class="bi bi-file-earmark-play-fill"></i> Bridging the 69-million teacher gap</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-play-fill"></i> Offering AI solutions to educators in underserved areas</li>
            <li class="list-group-item"><i class="bi bi-file-earmark-play-fill"></i> Low-cost and effective solution for quality education</li>
          </ul>
          <a href="{% url 'edu:index' %}"><button type="button" class="btn btn-sm btn-whatsapp big"><i class="bi bi-mortarboard"></i> test platform</button></a>
      </div>
    </div>
</div>

<div class="container text-center first-sec-inicial-index">
  <div class="row">
    <div class="col text-align">
      <h1 class="h1-home">OasisConnect© Device</h1>
      <p class="p-first additional-padding-bottom">OasisConnect© creates a reliable network in schools, enabling access to oaizs.com without the need for internet.</p>
    </div>
    <div class="col">
      <img class="image-header" src="{% static 'images/oasisconnect.png' %}">
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <img class="image-header" src="{% static 'images/classroom.png' %}">
    </div>
    <div class="col text-align">
      <h1 class="h1-home">AI tools & Quality training</h1>
      <p class="p-first additional-padding-bottom">We offer offline AI tools and comprehensive training programs for current and future educators, ensuring high-quality teaching standards in crisis and underserved areas.</p>
    </div>
  </div>

  <div class="container text-center first-sec-inicial-index">
    <div class="row">
      <div class="col text-align">
        <h1 class="h1-home">Sustainable Impact</h1>
        <p class="p-first additional-padding-bottom">Designed to be low-cost and scalable, OasisConnect© supports thousands of regions worldwide, bridging the education gap and empowering communities.</p>
      </div>
      <div class="col">
        <img class="image-header" src="{% static 'images/elearning.png' %}">
      </div>
    </div>
  </div>
  </div>

  <div class="col text-align" style="padding: 40px;">
    <h1 class="h1-home">Support Teachers with Innovative Tools and Training</h1>
    <a href="{% url 'home:donate' %}"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-stripe"></i> Donate Now</button></a>
  </div>
      

{% endblock %}