{% extends "base.html" %}
{% load static %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block content %}
<div class="row" style="max-width: 100%; padding-top: 35px;">
    <div class="col-4" style="width: 15%; margin-left: 20px; margin-right: 0px;">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column" style="position: fixed;">
                <a class="nav-link" href="#item-1">Chapter {{chapter.order}}</a>
                {% if chapter.quiz %}
                    <a class="nav-link" href="#quiz-section">Quiz Module</a>
                {% endif %}
            </nav>
        </nav>
    </div>

    <div class="col-8">
        <div id="item-1" class="item">
            <h3 class="h1-home">Chapter {{ chapter.order }} - {{ chapter.title }}</h3>
        </div>

        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-2" class="item">
                <p>{{ chapter.content }}</p>
                {% if chapter.video %}
                    <video class="image-header" src="{{ chapter.video.url|safe }}" poster="{{ course.image.url|safe }}" controls></video>
                {% endif %}
            </div>

            
            
            {% if chapter.quiz %}
            <div id="quiz-section" class="item">
                <h3><b>🧑‍🎓👩‍🎓 Quiz: Answer and go to the next module</b></h3>
                <br>
                <form id="quiz-form">
                    {% for question in questions %}
                        <div class="quiz-question" data-correct-answer="{% for alternative in question.alternatives.all %}{% if alternative.is_correct %}{{ alternative.text }}{% endif %}{% endfor %}">
                            <p><b>{{ question.question }}</b></p>
                            <ul>
                                {% for alternative in question.alternatives.all %}
                                        <label>
                                            <input type="radio" name="question-{{ question.id }}" value="{{ alternative.text }}">
                                            {{ alternative.text }}
                                        </label>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    <button type="button" id="quiz-submit" class="btn btn-sm big btn-whatsapp" disabled>Submit Quiz</button>
                </form>
            </div>
        {% else %}
            {% if next_chapter %}
                <a href="{% url 'edu:chapter_detail' course.id next_chapter.order %}">
                    <button type="button" class="btn btn-sm btn-main big">
                        <i class="bi bi-patch-check"></i> Go to Next Chapter
                    </button>
                </a>
            {% else %}
                <p><b>You have completed all chapters! 🎉</b></p>
            {% endif %}
        {% endif %}
        

            <form method="post" class="certificate">
                {% csrf_token %}
                <br>
                <h3>Congratulations 🎉</h3>
                <br>
                
                {% if next_chapter %}
                    <a href="{% url 'edu:chapter_detail' course.id next_chapter.order %}">
                        <button type="button" class="btn btn-sm btn-main big">
                            <i class="bi bi-patch-check"></i> Go to Next Chapter
                        </button>
                    </a>
                {% else %}
                    <p><b>You have completed all chapters! 🎉</b></p>
                {% endif %}
            
            </form>
        </div>
    </div>
</div>
{% endblock %}
