{% extends "base.html" %}
{% load static %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}



<div class="container-mobile text-center">
  <h1 class="h1-home">{{ course.title }}</h1><br>
  <p class="p-first additional-padding-bottom">{{ course.description }}</p>        
 
    <div class="card chapters">
      <a class="nav-link active" aria-current="page" href="#"><b>Chapters</b></a>
      {% for chapter in chapters %}
        <p class="course-paragraph">{{chapter.order}}: {{chapter.title}}</p>
      {% endfor %}
    </div>

  <img class="image-tools" src="{{ course.image.url|safe }}">
  <br><br>
  <a href="{% url 'edu:course_detail' course.id %}chapter-1/"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-mortarboard"></i>Start Course</button></a>
</div> 

    
{% endblock %}