{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container bio" id="termos-de-uso">
    <div class="row">
        <div>
            <fieldset>
                <h3 class="h1-home login-h3">Login</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-sm btn-main button-login" type="submit" value="Login"/>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}