{% extends "base.html" %}
{% load static %}

{% block title %}Class size{% endblock %}

{% block content %}

<div class="container-mobile text-center">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
  </div>
    <div class="row">
      <div class="col">
        <br>
        <h1 class="h1-home">How big is your class?</h1>
        <p class="p-first additional-padding-bottom">Understanding the size of your classroom will help us suggest the best tools for you.</p>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:students-age' %}">1-10 students</a></button>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:students-age' %}">11-25 students</a></button>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:students-age' %}">25-40 students</a></button>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:students-age' %}">40+ students</a></button>
        <br>
      </div>
    </div>
</div>

{% endblock %}