{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-mobile text-center">
  <h1 class="h1-home">🌴 Welcome to Oasis</h1>
  <p class="p-first additional-padding-bottom">We have found the best courses for you!</p>
</div>

<div class="parent-div">
    <div class="container-mobile text-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Selected Courses</a>
            </li>
        </ul>

        {% if courses %}
            <div class="courses">
            {% for course in courses %}
            <div class="col">
                <div class="card">
                    <img class="image-tools" src="{{ course.image.url|safe }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="additional-padding-bottom course-paragraph">{{ course.description }}</p>
                        <a href="{% url 'edu:course_detail' course.id %}" class="btn btn-sm btn-main"><i class="bi bi-book"></i> Access Course</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        {% else %}
            <p>No courses selected yet.</p>
        {% endif %}
    </div>
    </div>



    <div class="container-mobile text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Age</th>
                    <th>Last Attendance</th>
                    <th>Status</th>
                    <th>Mark Attendance</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.student.first_name }} {{ student.student.last_name }}</td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.created_at|date:"d/m/Y - H:i" }}</td>
                        <td>
                        {% if student.created_at.date == today and student.student.date_joined.date < today %}
                            ✅ Attended today
                        {% else %}
                            ❌ Absent today
                        {% endif %}
                        </td>
                        <td>
                            <form action="{% url 'edu:mark_attendance' student.student.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Mark Attendance</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




</div>

{% endblock %}
