{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-mobile text-center">
  <h1 class="h1-home">🌴 Hello, {{ request.user.first_name }}! Welcome to Oasis</h1>
  <p class="p-first additional-padding-bottom">We have found the best resources for you!</p>
</div>

<article class="dashboard">

    <div class="courses" style="padding-bottom: 25px">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#courses">Courses based on your preferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ai-tools">AI tools</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#attendance-tracker">Attendance tracker</a>
            </li>
        </ul>
    </div>

<div class="courses" id="courses"> 
    <div class="text-center course">
        {% if courses %}
            {% for course in courses %}
            <div class="col">
                <div class="card">
                    <img class="image-tools" src="{{ course.image.url|safe }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="additional-padding-bottom course-paragraph">{{ course.description }}</p>
                        <a href="{% url 'edu:course_detail' course.id %}" class="btn btn-sm btn-main"><i class="bi bi-book"></i> Access Course</a>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        {% else %}
            <p>No courses selected yet.</p>
        {% endif %}
    </div>
</div>

<div class="courses" id="ai-tools"> 
    <div class="text-center course">
            <div class="col">
                <div class="card">
                    <img class="image-tools" src="{% static 'images/oasisconnect.webp' %}">
                    <div class="card-body">
                        <h5 class="card-title">Ask to our AI chatboot any educational question</h5>
                        <p class="additional-padding-bottom course-paragraph">Use OasisConnect's translation feature to help your multi-lingual classroom.</p>
                        <a href="{% url 'oasis-chat:ollama_chat' %}" class="btn btn-sm btn-main"><i class="bi bi-book"></i> Access Course</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img class="image-tools" src="{% static 'images/oasisconnect.webp' %}">
                    <div class="card-body">
                        <h5 class="card-title">Translate lessons to other languages</h5>
                        <p class="additional-padding-bottom course-paragraph">Use OasisConnect's translation feature to help your multi-lingual classroom.</p>
                        <a href="{% url 'oasis-chat:ollama_translate' %}" class="btn btn-sm btn-main"><i class="bi bi-book"></i> Access platform</a>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="parent-div" id="attendance-tracker">
    <div class="container-mobile text-center">
        <h3 class="login-h3">Student Attendance</h3>
        <table class="table table-bordered">
            <tr>
                <th>Student</th>
                <th>Attendance</th>
                <th>Last Attendance</th>
                <th>Actions</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.student.first_name }} {{ student.student.last_name }}</td>
                <td>
                    {% if student.last_attended %}
                        {% if student.last_attended == today %}
                            ✅ Attended today
                        {% else %}
                            ❌ Absent today
                        {% endif %}
                    {% else %}
                        ❌ Never attended
                    {% endif %}
                </td>
                <td>
                    {% if student.last_attended %}
                        {{ student.last_attended }}
                    {% else %}
                        --
                    {% endif %}
                </td>
                <td>
                    <form method="POST" action="{% url 'edu:mark_attendance' student.id %}">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-second" type="submit">Mark Attendance</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="container bio" id="termos-de-uso">
        <div class="row">
            <div>
                <fieldset>
                    <h3 class="login-h3">Add student</h3>
                    <form method="POST" action="{% url 'edu:dashboard' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-sm btn-main button-login" type="submit" value="add student"/>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</article>

{% endblock %}
