{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-mobile text-center">
  <h1 class="h1-home">🌴 Welcome to Oasis</h1>
  <p class="p-first additional-padding-bottom">We have found the best courses for you!</p>
</div>

<div class="parent-div">
    <div class="container-mobile text-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Selected Courses</a>
            </li>
        </ul>

        {% if courses %}
            {% for course in courses %}
            <div class="col">
                <div class="card">
                    <img class="image-tools" src="{{ course.image.url|safe }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="additional-padding-bottom course-paragraph">{{ course.description }}</p>
                        <a href="{% url 'edu:course_detail' course.id %}" class="btn btn-sm btn-main"><i class="bi bi-book"></i> Access Course</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No courses selected yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
