

{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container bio" id="termos-de-uso">
    <div class="row">
        <div>
            <fieldset>
                <h3 class="login-h3">Add student</h3>
                <form method="POST" action="{% url 'edu:addStudent' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Student</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}