{% extends "base.html" %}
{% load static %}

{% block title %}Students' Ages{% endblock %}

{% block content %}

<div class="container-mobile text-center">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
  </div>
    <div class="row">
      <div class="col">
        <br>
        <h1 class="h1-home">How old are the students in yourclass?</h1>
        <p class="p-first additional-padding-bottom">(select all that apply)</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">5 – 7 years old </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">8 – 10 years old</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">11 – 13 years old</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">14 – 16 years old</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">17 – 19 years old</label>
        </div>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:tools' %}">Continue</a></button>
        
        </div>
        <br>
      </div>
    </div>
</div>

{% endblock %}