{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-mobile text-center">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
  </div>
    <div class="row">
      <div class="col">
        <br>
        <h1 class="h1-home">Which of these helps you most?</h1>
        <p class="p-first additional-padding-bottom">(select all that apply)</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">Create lessons and quizzes to students of different ages</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">Translate lessons to different languages</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">access books in different languages</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">learn how to manage students' emotions</label>
        </div>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:fetching' %}">Submit</a></button>
        
        </div>
        <br>
      </div>
    </div>
</div>

{% endblock %}