{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-mobile text-center">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
    <div class="row">
      <div class="col">
        <br>
        <h1 class="h1-home">Let us help you drive the change in your community!</h1>
        <p class="p-first additional-padding-bottom">Select the option that best fits you! We will match you with our best resources.</p>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:class-size' %}">I am a teacher</a></button>
        <button class="btn btn-primary" type="button"><a href="{% url 'edu:future-teachers' %}">Become a teacher</a></button>
        <br>
      </div>
      <div class="col">
        <iframe width="479" height="315" src="https://www.youtube.com/embed/dk3dQf7yZFI?si=Z0zsPjxfqNxCpKvu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
</div>

{% endblock %}