{% extends "blog/post.html" %}
{% load static %}

{% block title %}
Translanguaging
{% endblock %}

{% block tranlanguage-method %}
Translanguaging
{% endblock %}

{% block tranlanguage-method-sub-paragraph-1 %}
“Implication of bilingualism for certain purposes such as maximizing communication potential” (Hopkyns, Zoghbor & Hassall, 2021, p.3). For example, speaking in Portuguese with a Brazilian at CMUQ and then using English words to refer to places in Education City or learned concepts from specific classes.
{% endblock %}

{% block first-image %}translanguaging.jpg{% endblock %}

{% block youtube-url-video %}https://www.youtube.com/embed/iNOtmn2UTzI?si=vOh087kyAz65CVLd
{% endblock %}

{% block tranlanguage-method-heading %}What is the meaning of translinguistics?
{% endblock %}

{% block tranlanguage-method-sub-paragraph-2 %}Translinguistics represents a powerful alternative to conventional paradigms of language such as bilingualism and code-switching, which assume the mutualism of different 'languages'{% endblock %}