{% extends "base.html" %}
{% load static %}

{% block title %}translanguaging{% endblock %}

{% block content %}
<div class="container text-center first-sec-inicial-index">
    <div class="row">
      <div class="col">
        <h1 class="h1-home">Linguistic-hybridity 30-minute course for Qatari professors</h1>
        <p class="p-first additional-padding-bottom">Explore how linguistic hybridity is present in Qatar and how it affects students' lifes.</p>
        <a href="https://wa.me/5548998289645"><button type="button" class="btn btn-sm btn-main big"><i class="bi bi-book"></i>start learning</button></a>
      </div>
      <div class="col">
        <img class="image-header" src="{% static 'images/error.jpg' %}">
      </div>
    </div>
</div>
{% endblock %}