<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <!-- <link rel="stylesheet" href="https://rsms.me/inter/inter.css"> -->
        <link rel="stylesheet" href="{% static '/fonts/inter.ttf' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/js/quiz.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Oasis</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block additional_style %}{% endblock %}
      </head>
    <body>
        <header>
              <nav class="navbar navbar-expand-lg bg-body-tertiary center">
                <a href="{% url 'home:index' %}"><img class="logo" src="{% static 'images/logo.png' %}"/></a>
                <!-- <div class="button-header">
                  <a href="{% url 'edu:index' %}"><button type="button" class="btn btn-sm btn-second">Test our MVP now</button></a>                       
                </div> -->
              </nav>
          </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
          <div class="container footer-background">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">ED#14 Oasis - LifeLines Hackathon</a></li>
              </ul>
              <img class="logo" src="{% static 'images/logo.png' %}" />
            </footer>
          </div>
        </footer>
    </body>
</html>