{% extends "base.html" %}
{% load static %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<div class="row" style="max-width: 100%; padding-top: 35px;">
    <div class="col-4" style="width: 15%; margin-left: 20px; margin-right: 0px;">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column" style="position: fixed;">
          <a class="nav-link" href="#item-1">Introduction</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-1-1">Covered topics</a>
            <a class="nav-link ms-3 my-1" href="#item-1-2">Translanguaging</a>
          </nav>
          <a class="nav-link" href="#item-2">Edutopia's teachings</a>
          <a class="nav-link" href="#item-3">Case Study</a>
          <a class="nav-link" href="#item-4">Conclusion</a>
        </nav>
      </nav>
    </div>
  
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div id="item-1" class="item">
          <h3>{{ course.title }}</h3>
          <p>Welcome to the 30-minute intensive course about linguistic hybridity for faculty members. This course is designed for teachers and professors in Qatar who aim to offer students a more inclusive and personalized education.</p>
          <p>As you may know, the introduction of new cultures and linguistic practices in Qatar has increased in the previous decades. However, one new challenge is merging such new practices in the classroom setting. This way, in the following minutes, we are going to explore the following topics and ideas to develop inclusive classrooms based on the mentioned challenges:</p>
        </div>
        <div id="item-1-1" class="item">
            <h3>Topics Covered</h3>
            <p><i class="bi bi-arrow-right"></i> Linguistic-hybridity</p>
            <p><i class="bi bi-arrow-right"></i> Translanguaging</p>
            <p><i class="bi bi-arrow-right"></i> Code-switching</p>
            <p><i class="bi bi-arrow-right"></i> Arabizi</p>
        </div>
        <div id="item-1-2" class="item">
          <h3>Translanguaging & Code-switching</h3>
          <p>Linguistic hybridity can be simply defined as how dynamic new linguistic practices are used in daily life, such as mixing languages for better communication (Translanguaging). As Defined by Hopkyns, Zoghbor, and Hassall (2020), translanguaging is the mixing of languages to aid understanding. While code-switching refers narrowly to swapping between two or more systems of languages (Hymes, 1974), translanguaging refers more broadly to the implications of bilingualism for certain purposes such as maximizing communication potential, so it includes, but it is not limited to, code-switching (Garcia, 2009b).</p>
        </div>
        <div id="item-2" class="item">
          <h3>Edutopia's teachings </h3>  
          <p>The respected award-winning organization, edutopia.org, suggests 4 interesting ways of making classrooms more inclusive for multilingual learners, which can be employed in educational settings from elementary school to undergraduate settings and beyond.</p>
          <p>1. Incorporate your students’ language in the classroom: One example is pairing students with classmates who speak the same language. This can help them further their reasoning on that idea, considering that those students are experts in their language and reasoning may be easier for them in that language.</p>
          <p>2. Be Dramatic and Visual: To those newly introduced to a new language, make sure as a teacher or professor to make learning more appealing and visually easy to understand. It may be hard for students to understand concepts simply by listening.</p>
          <p>3. Provide Learning Resources that Reflect different realities: Your students come from different realities. Enabling them to learn while connecting to their previous experience will aid their learning.</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/hYqTM0caS3o?si=zktyAbI0gsSZeavq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <p>Then, your goal as an educator may be to "extend their [students] first language--not replace it." It is a challenging task to incorporate such practices, but the learning results may yield fantastic results in the future.</p>
        </div>
        <div id="item-3" class="item">
          <h3>Abraham Lincoln Middle School in Selma, CA</h3>
          <p>The following video helps us understand how embracing is being used in schools in the United States, where Spanish speakers from Abraham Lincoln Middle School in Selma, CA, have the chance to use their primary language to support their reasoning and learning process:</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/qxJPBbC5gAw?si=h6zWO1p4LfUoq1Pl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <br>
          <p>As the teacher Mr. Efraín Tovar mentioned in the video, "the goal is for them to be proficient in both languages." This helps us reach our main idea of this course: translanguaging enables students to express and formulate better ideas. Then, you as a faculty member, may prefer to focus on enabling your student to formulate better ideas, where translanguaging may be of great help. Tranlanguaging has then the chance to foster the student’s individual identity, using a complete linguistic repertoire that not only fosters learning but also the student’s full complex of identities.</p>
        </div>
        <div id="item-4" class="item">
          <h3>Conclusion</h3>
          <p>Translanguaging can apply to all languages (Hopkyns, Zoghbor, & Hassall, 2020), which makes them not restricted to the Gulf. Despite you being now a faculty member in Qatar, you may be able to employ those learned concepts in different settings.</p>
          <p>Thank you very much for your time, and I hope to see you in one of our other courses. Below you will see a bottom where you can claim your certificate.</p>
        </div>
    

        <form method="post">
          {% csrf_token %}
          <br>
          <label for="user_name">Preferred name on certificate:</label>
          <input type="text" id="user_name" name="user_name" required>
          <br>
          <label for="language">Preferred Language:</label>
          <select id="language" name="language" required>
              <option value="en">English</option>
              <option value="pt">Portuguese</option>
          </select>
          <br>
          <button type="submit" class="btn btn-sm btn-main big" style="margin-top: 15px;">
              <i class="bi bi-patch-check"></i> claim certificate
          </button>
      </form>

      </div>
    </div>
  </div>
{% endblock %}