{% extends "base.html" %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}

<div class="row cards-courses">
{% for course in courses %}
<div class="card" style="width: 18rem; padding: 0;">
    {% if course.image %}
    <img src="{{ course.image.url }}" alt="{{ course.title }}" style="height: 180px; border-radius: 5px 5px 0px 0px;">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ course.title }}</h5>
      <p class="additional-padding-bottom course-paragraph" ><b>description:</b> {{ course.description }}</p>
      <a href="/courses/{{ course.slug }}/" class="btn btn-sm btn-main"><i class="bi bi-book"></i>access course</a>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}